@font-face {
  font-family: "Pretendard";
  src: url(/fonts/Pretendard-Black.otf) format("opentype");
  font-weight: 900;
}
@font-face {
  font-family: "Pretendard";
  src: url(/fonts/Pretendard-ExtraBold.otf) format("opentype");
  font-weight: 800;
}
@font-face {
  font-family: "Pretendard";
  src: url(/fonts/Pretendard-Bold.otf) format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Pretendard";
  src: url(/fonts/Pretendard-SemiBold.otf) format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Pretendard";
  src: url(/fonts/Pretendard-Medium.otf) format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Pretendard";
  src: url(/fonts/Pretendard-Regular.otf) format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Pretendard";
  src: url(/fonts/Pretendard-Light.otf) format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "Pretendard";
  src: url(/fonts/Pretendard-ExtraLight.otf) format("opentype");
  font-weight: 200;
}
@font-face {
  font-family: "Pretendard";
  src: url(/fonts/Pretendard-Thin.otf) format("opentype");
  font-weight: 100;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Pretendard";
  color: #fff;
}
